<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <div th:replace="~{layouts/header :: header}"></div>

    <div class="presentation">
        <img src="https://itproger.com/img/reg_page/man-seating.svg">
        <h2>Хочешь выглядить стильно?</h2>
        <p>Здесь вы найдёте крутые и стильные вещи для себя</p>
    </div>
    <main class="container">

    </main>

    <div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>