/Paid_Lessons/Modules/Module_1/les8/text.txt
/Paid_Lessons/Modules/Module_3/les1/les1_4/data.html
/Paid_Lessons/Modules/Module_3/les4/les4_1/main.i
/Paid_Lessons/Modules/Module_3/les4/les4_2/main.i
/Paid_Lessons/Homework/Module_3/some.data

*/.idea/

/Paid_Lessons/Modules/Module_6/.idea/
/Paid_Lessons/Modules/Module_6/.gitignore
/Paid_Lessons/Modules/Module_6/build.gradle
/Paid_Lessons/Modules/Module_6/gradlew
/Paid_Lessons/Modules/Module_6/gradlew.bat
/Paid_Lessons/Modules/Module_6/settings.gradle
/Paid_Lessons/Modules/Module_6/gradle/wrapper/
/Paid_Lessons/Homework/Module_6/.idea/
/Paid_Lessons/Homework/Module_6/gradle/wrapper/
/Paid_Lessons/Homework/Module_6/.gitignore
/Paid_Lessons/Homework/Module_6/build.gradle
/Paid_Lessons/Homework/Module_6/settings.gradle
/Paid_Lessons/Homework/Module_6/gradlew.bat
/Paid_Lessons/Homework/Module_6/gradlew

/Paid_Lessons/Homework/Module_6/.gradle/
/Paid_Lessons/Homework/Module_6/build/

*/out/
/training.iml

/Paid_Lessons/Modules/Module_7/.idea/
/Paid_Lessons/Modules/Module_7/les6/.idea/
/Paid_Lessons/Modules/Module_7/les6/apache-tomcat-8.5.65/
/Paid_Lessons/Modules/Module_7/les6/target/

/Paid_Lessons/Homework/Module_7/.idea/
/Paid_Lessons/Modules/Module_8/.idea/
/Paid_Lessons/Modules/Module_8/.mvn/
/Paid_Lessons/Modules/Module_8/target/
/Paid_Lessons/Modules/Module_8/mvnw
/Paid_Lessons/Modules/Module_8/mvnw.cmd
/Paid_Lessons/Homework/Module_8/.idea/
/Paid_Lessons/Homework/Module_8/.mvn/
/Paid_Lessons/Homework/Module_8/mvnw
/Paid_Lessons/Homework/Module_8/mvnw.cmd
/Paid_Lessons/Modules/Module_9/.idea/
/Paid_Lessons/Modules/Module_9/.mvn/
/Paid_Lessons/Modules/Module_9/mvnw
/Paid_Lessons/Modules/Module_9/mvnw.cmd
