/Paid_Lessons/Modules/Module_1/les8/text.txt
/Paid_Lessons/Modules/Module_3/les1/les1_4/data.html
/Paid_Lessons/Modules/Module_3/les4/les4_1/main.i
/Paid_Lessons/Modules/Module_3/les4/les4_2/main.i
/Paid_Lessons/Homework/Module_3/some.data

/.idea/

/Paid_Lessons/Modules/Module_6/.idea/
/Paid_Lessons/Modules/Module_6/.gitignore
/Paid_Lessons/Modules/Module_6/build.gradle
/Paid_Lessons/Modules/Module_6/gradlew
/Paid_Lessons/Modules/Module_6/gradlew.bat
/Paid_Lessons/Modules/Module_6/settings.gradle
/Paid_Lessons/Modules/Module_6/gradle/wrapper/
