/Lessons_2/Modules/Module_1/les8/text.txt
/Lessons_2/Modules/Module_3/les1/les1_4/data.html
/Lessons_2/Modules/Module_3/les4/les4_1/main.i
/Lessons_2/Modules/Module_3/les4/les4_2/main.i
/Lessons_2/Homework/Module_3/some.data

*/.idea/

/Lessons_2/Modules/Module_6/.idea/
/Lessons_2/Modules/Module_6/.gitignore
/Lessons_2/Modules/Module_6/build.gradle
/Lessons_2/Modules/Module_6/gradlew
/Lessons_2/Modules/Module_6/gradlew.bat
/Lessons_2/Modules/Module_6/settings.gradle
/Lessons_2/Modules/Module_6/gradle/wrapper/
/Lessons_2/Homework/Module_6/.idea/
/Lessons_2/Homework/Module_6/gradle/wrapper/
/Lessons_2/Homework/Module_6/.gitignore
/Lessons_2/Homework/Module_6/build.gradle
/Lessons_2/Homework/Module_6/settings.gradle
/Lessons_2/Homework/Module_6/gradlew.bat
/Lessons_2/Homework/Module_6/gradlew

/Lessons_2/Homework/Module_6/.gradle/
/Lessons_2/Homework/Module_6/build/

*/out/
/training.iml

/Lessons_2/Modules/Module_7/.idea/
/Lessons_2/Modules/Module_7/les6/.idea/
/Lessons_2/Modules/Module_7/les6/apache-tomcat-8.5.65/
/Lessons_2/Modules/Module_7/les6/target/

/Lessons_2/Homework/Module_7/.idea/
/Lessons_2/Modules/Module_8/.idea/
/Lessons_2/Modules/Module_8/.mvn/
/Lessons_2/Modules/Module_8/target/
/Lessons_2/Modules/Module_8/mvnw
/Lessons_2/Modules/Module_8/mvnw.cmd
/Lessons_2/Homework/Module_8/.idea/
/Lessons_2/Homework/Module_8/.mvn/
/Lessons_2/Homework/Module_8/mvnw
/Lessons_2/Homework/Module_8/mvnw.cmd
/Lessons_2/Modules/Module_9/.idea/
/Lessons_2/Modules/Module_9/.mvn/
/Lessons_2/Modules/Module_9/mvnw
/Lessons_2/Modules/Module_9/mvnw.cmd
/Lessons_2/Homework/Module_9/.idea/
/Lessons_2/Homework/Module_9/.mvn/
/Lessons_2/Homework/Module_9/mvnw
/Lessons_2/Homework/Module_9/mvnw.cmd
/Lessons_2/Modules/Module_10/.idea/
/Lessons_2/Modules/Module_10/.mvn/
/Lessons_2/Modules/Module_10/target/
/Lessons_2/Modules/Module_10/mvnw
/Lessons_2/Modules/Module_10/mvnw.cmd
/Lessons_2/Homework/Module_10/mvnw
/Lessons_2/Homework/Module_10/mvnw.cmd
/Lessons_2/Homework/Module_10/pom.xml
/Lessons_2/Homework/Module_10/target/
/Lessons_2/Homework/Module_10/.mvn/
/Lessons_2/Homework/Module_10/.idea/
/Lessons_2/Modules/Module_11/HELP.md
/Lessons_2/Modules/Module_11/.idea/
/Lessons_2/Modules/Module_11/.mvn/
/Lessons_2/Modules/Module_11/mvnw
/Lessons_2/Modules/Module_11/mvnw.cmd
/Lessons_2/Homework/Module_11/.mvn/
/Lessons_2/Homework/Module_11/HELP.md
/Lessons_2/Homework/Module_11/mvnw
/Lessons_2/Homework/Module_11/mvnw.cmd
/Lessons_2/Homework/Module_11/target/
/Lessons_2/Homework/Module_11/.idea/
